* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .table-container {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
  }
  
  table {
  
  }
  
  thead {
  
  }
  
  tr {
  
  }
  .orderable {
  
  }
  
  .even {
    background-color: #eee;
  
  }
  
  .odd {
    background-color: rgb(231, 231, 231);
  }
  
  .pagination {
    font-size: 1.6rem;
    a {
      
    }
  
    li {
        display: inline-block;
    }
  
  }
 