{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if filter %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
    </div>
{% endfor %}

{% for show in data %}
    <div class="row">
        <div class="col-sm-8">{{ show.episode }}</div>
        <div class="col-sm-4">{{ show.date }}</div>
    </div>
{% endfor %}