{% extends 'base.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if filter %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}

<form action="" method="get" class="form">
    {{ filter.form.name|as_crispy_field}}
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ filter.form.network|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ filter.form.webchannel|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ filter.form.language|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ filter.form.status|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ filter.form.premiere|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ filter.form.genre|as_crispy_field}}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ filter.form.insonarr|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ filter.form.ignored|as_crispy_field }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Filter</button>
    <button type="reset" class="btn btn-secondary">Reset</button>

</form>
{% endif %}
    {% render_table table %}
{% endblock %}