* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.table-container {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.even {
  background-color: #eee;
}

.odd {
  background-color: #e7e7e7;
}

.pagination {
  font-size: 1.6rem;
}

.pagination li {
  display: inline-block;
}
