[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django-crispy-forms = "*"
django-extra-views = "*"
django-filter = "*"
django-tables2 = "*"
pendulum = "*"
requests = "*"
Django = "*"
environs = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
loguru = "*"
django-background-tasks = "*"

[requires]
python_version = "3.6"
