-i https://pypi.org/simple
asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
django-crispy-forms==1.9.0
django-extra-views==0.13.0
django-filter==2.2.0
django-tables2==2.2.1
django==3.0.4
environs==7.3.0
gunicorn==20.0.4
huey==2.2.0
idna==2.9
marshmallow==3.5.1
pendulum==2.1.0
psycopg2==2.8.4
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
pytzdata==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==5.0.1
